body,html{
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to bottom left, #5E49E2, #7B3BDA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

@font-face{
    font-family: 'AvenirNext-Bold';
    src:    url('./assets/fonts/AvenirNext-Bold.woff') format('woff'),
            url('./assets/fonts/AvenirNext-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'AvenirNext-DemiBold';
    src:    url('./assets/fonts/AvenirNext-DemiBold.woff') format('woff'),
            url('./assets/fonts/AvenirNext-DemiBold.woff2') format('woff2');
}

@font-face{
    font-family: 'AvenirNext-Regular';
    src:    url('./assets/fonts/AvenirNext-Regular.woff') format('woff'),
            url('./assets/fonts/AvenirNext-Regular.woff2') format('woff2');
}